<div class="container mt-3">
    <h2 > About Prasuna</h2>
    <div class="row">
        <div class="col-md-8">
            <div class="box">
                <div class="box-inner">
                    <p>I am Prasuna, an aspiring painter.
                        when i was a kid, I loved drawing and painting, and thankfully had encouraging parents.
                          Later, at the age of 26 years, I got the opportunity to learn oil painting and did
                           a course under Magunta Dayakar Sir.
                         <span class="gap"></span><p>
                         I gained a lot of knowledge about painting skills from him during the tenure. My world is my art,
                          and each day is a new canvas of things to paint. I have 10 years of painting experience and have 
                          done contemporary realistic paintings.
                         
                         My paintings are mostly nature related as i love to draw nature which replicates my love to words nature.
                 </p>
                     <p>The picture that you are seeing right side is my self portrait.</p>
                </div>
            </div>
            
        </div>
        <div class="col-md-4">
          
    <img src="./assets/paintings/self.png" class="w-100" alt="self painting">
         
        </div>
    </div>
</div>
