
.col-md-4 img{
    border: 2px solid;
    padding: 15px;
    box-shadow: 6px 4px 8px;
}
p{
    font-size: 1.2rem;
    font-weight: 400;
    color:black;
    line-height: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}
h2{text-align: center;
    font-size:2rem;
    line-height: 2rem;
    color: crimson;
    position: relative;
    margin: 15px 0px;
    padding:20px 0px;
}
.gap{
    height: 50px;
}
.box{
   padding:1.35rem;
        border-style: outset;
   
}

  