<div class="container">
    <h3>Cart Page</h3>
    <div class="row">
        <div class="col-md-8">
            <table class="table mt-3">
    
                <tbody *ngFor="let image of cartitems">
                  <tr>
                   <td><img src='{{image.img}}' height="100px" width="100px"></td>
                    <td>{{image.title}}</td>
                 
                    <td >{{image.price | currency:'₹'}}</td>
                    
                        <td><button class="btn btn-danger" (click)="deletecartitem(image)">Delete</button></td>
                  </tr>
                 
                </tbody>
               
            
              </table>
            
        </div>
        <div class="col-md-4">
            <h4>Your cart Details</h4>
            <table class="table">
                <tbody>
                    <tr>
                        <td>Total Items:</td>
                        <td>{{cartitems.length}}</td>
                    </tr>
                    <tr>
                        <td>
                            Total Amount: 
                        </td>
                        <td >{{grandTotal | currency:'₹'}}
                           
                        </td>
                    </tr>
                </tbody>

            </table>

        </div>
        </div>
        </div>

