
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-sm-12">
    <mat-toolbar color="primary">
 
      <span>Paintings</span>
      <span class="example-spacer"></span>

      <ul>
        <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
       
          <button mat-stroked-button routerLink="home">Home</button>
        </li>
        <li role="presentation" routerLinkActive="active">
          <button mat-stroked-button routerLink="about">About</button>
  
        </li>
        <li role="presentation" routerLinkActive="active">
          <button mat-stroked-button routerLink="gallery">Gallery</button>
  
        </li>
        <li role="presentation" routerLinkActive="active">
          <button mat-stroked-button routerLink="contact">Contact</button>
         
        </li>
    
        <li class="favcart" role="presentation" routerLinkActive="active">
          <button routerLink="fav"><mat-icon>favorite</mat-icon>
            <span class="badge bg-secondary">{{wishlistedlength}}</span>
          </button>
        </li>
        <li  class="favcart" role="presentation" routerLinkActive="active">
          <button routerLink="cart"><mat-icon>shopping_cart</mat-icon>
            <span class="badge bg-secondary">{{cartlength}}</span>
          </button>
        </li>
   
      </ul>
      
     
    </mat-toolbar>
  </div>
 
 
</div>
</div>


<router-outlet></router-outlet>

