.picsum-img-wrapper{
    position: relative;
    height:100%;
    
}.picsum-img-wrapper img{
    width:100%;
    height: min-content;
}
.box{
    position: absolute;
   
    top: 40%;
    z-index: 10;
    right: 20%;
}
.box p{
    background: #fff;
    color:crimson;
    padding: 3px 18px;
    margin: 0;
    font-size: 16px;
}



